.tc {text-align: center;}
.tl {text-align: left;}
.ib {display: inline-block;}
.m-5 {margin: 5px}
.bord {border: 1px solid #d7d7d7;}
.bord-picked {border: 1px solid green;}
.pad-5 {padding: 5px;}
.has-error input::-webkit-input-placeholder {
   	color: #a94442;
}
.auto-marg {margin: 0 auto !important;}
.plus-minus {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.has-error input:-moz-placeholder { /* Firefox 18- */
   color: #a94442;
}

.has-error input::-moz-placeholder {  /* Firefox 19+ */
   color: #a94442;
}

.has-error input:-ms-input-placeholder {
   color: #a94442;
}

.error-placeholder {
	color: #a94442 !important;
}

.success-placeholder {
	color: #3c763d !important;
}

.has-success input::-webkit-input-placeholder {
   	color: green;
}

.has-success input:-moz-placeholder { /* Firefox 18- */
   color: green;
}

.has-success input::-moz-placeholder {  /* Firefox 19+ */
   color: green;
}

.has-success input:-ms-input-placeholder {
   color: green;
}

.no-pad-l{
    padding-left: 0px !important;
}

.slider.slider-horizontal {width: 130px;}

.spin-img {margin: 30px 0;}

.deposit-price {
    font-weight: 700 !important;
    color: #b12704 !important;
}

#orderIdBox {
    width: 406px;
    padding: 36px 0 0 0;
}

#orderIdBox h2 {
    font-size: 20px;
}

.panel-color {
 background-color: aqua;
 padding-top: 20px;
}
