<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Zodkoo | Bootstrap Landing Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully responsive landing page template" name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="/app/components/home/con-web/css/bootstrap.min.css" rel="stylesheet">

        <!-- Font Icons CSS -->
        <link href="/app/components/home/con-web/css/pe-icon-7-stroke.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/app/components/home/con-web/css/style.css" rel="stylesheet">

        <!-- Color style -->
        <link href="/app/components/home/con-web/css/colors/default.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>


    <body data-spy="scroll" data-target="#navbar-menu">

        <!-- Navbar -->
        <div class="navbar navbar-custom navbar-fixed-top sticky" role="navigation" id="sticky-nav">
            <div class="container">

                <!-- Navbar-header -->
                <div class="navbar-header">

                    <!-- Responsive menu button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- LOGO -->
                    <a class="navbar-brand logo" style="padding-top: 0px;" href="index.html">
                        <img style="width:125px;" class="img-responsive" src="/tvc-logo-all-white.png">
                    </a>

                </div>
                <!-- end navbar-header -->

                <!-- menu -->
                <div class="navbar-collapse collapse" id="navbar-menu">

                    <!-- Navbar left -->
                    <ul class="nav navbar-nav nav-custom-left">
                        <li class="active">
                            <a href="javascript:(0);" class="nav-link">Home</a>
                        </li>
                        <li>
                            <a href="javascript:(0);" class="nav-link">Features</a>
                        </li>
                        <li>
                            <a href="javascript:(0);" class="nav-link">Plans</a>
                        </li>
                        <li>
                            <a href="javascript:(0);" class="nav-link">Clients</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">
                                Pages
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu arrow">
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="jobs.html">Drivers</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Navbar right -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button type="button" class="btn btn-white-fill navbar-btn-alt">Try Now</button>
                        </li>
                    </ul>

                </div>
                <!--/Menu -->
            </div>
            <!-- end container -->
        </div>
        <!-- End navbar-custom -->



        <!-- Header title -->
        <section class="bg-custom header-title-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3 class="text-white">Frequently Asked Questions</h3>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- END Header title -->


        <!-- FAQ -->
        <section class="section">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <div class="title-box-icon title-about">
                                <p class="text-muted sub-title">See below the most frequent questions we get asked about our app <br> If your question isnt listed below please send us an email an we will get back to you<br/><a href="" class="btn btn-custom m-t-20">Email us your question</a></p>

                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->

                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>What is your refund policy?</h4>
                            <p class="answer text-muted"><b>A. </b>Full refunds will be given to all customers as long as the request is made before the driver has been despatched to your job. Once the driver has despatched your deposit will no longer be refundable. To make a cancellation and retrieve a full refund please send us an email, with the subject “job cancelation”. In the email please list the job ID and the date of the move. Once this is done we will reply to you within 24 hours with a job cancellation notification and the refund will be processed within 48 hrs and will reach your account within 7 days .</p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>What happens if our driver doesn’t turn up?</h4>
                            <p class="answer text-muted"><b>A. </b>Once you have made a booking we will allocate your job to one of our drivers. Once your job has been allocated you will be sent an email with the contact details for your driver. This will allow you to contact you driver if they are running behind or if you have any changes you need to make to your order. If for any reason you cannot get in touch with your driver and you are concerned that he may not be able to attend your booking. You can give us a call on 07852806618 and we will be able to either get in touch with your driver or will be able to reallocate to another should there be a reason your driver cannot attend.</p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>My payment is not working?</h4>
                            <p class="answer text-muted"><b>A. </b>Payments may not work for the following reasons. 1. Your long card number on the front of the card is incorrect 2. Your Expiry date is not correct 3. The 3 digits on the back of the card is incorrect 4. You have insufficient funds in your account. If none of the above reasons are correct then please call us on 07852806618, so that we can process the order over the phone..</p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>I have reached the cubic feet limit?</h4>
                            <p class="answer text-muted"><b>A. </b>Our website calculates the cubic feet of all the things you want to be delivered. However if this cubic feet extends beyond 700 cubic we ask you to give us a call as this is a bigger job task the usual and we want to make sure we estimate the job properly and make sure we allocate to the correct type of driver.</p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>How do I get In contact with my driver?</h4>
                            <p class="answer text-muted"><b>A. </b>Once you have processed a booking, we will allocate a driver that is best suited to complete your job. Once this is done you will get a automatic email that will give you all the relevant details for your driver including his work mobile number. You can use this to update information and to get help with anything you need</p>
                        </div>


                    </div>
                    <!--/col-md-5 -->

                    <div class="col-md-5">
                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>How do I know the right sized van is coming?</h4>
                            <p class="answer text-muted"><b>A. </b>Our website calculates the cubic feet of all the things you want to be delivered and allocates the correct type of driver, which you will be able to see when you are inputting your items. If for any reason you feel like the van that we are allocating is not the one you need please give call our customer service team on 07852806618 and we will book that in manually for you.</p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>I need extra drop offs?</h4>
                            <p class="answer text-muted"><b>A. </b>If you need extra pickups or drop-offs on the your delivery route then all you have to do is input the start and end address, and in the “extra instructions for driver” type in the extra post codes you want to add to the route. This will not be estimated in the initial amount. Instead the route points will be calculated hourly by the driver on the day.</p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>I don’t want to pay by card can I pay by cash?</h4>
                            <p class="answer text-muted"><b>A. </b>Unfortunately all deposits must be paid before we can complete a booking and all deposits need to be made by card.</p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>What happens if I want to add more items to my delivery after i have booked?</h4>
                            <p class="answer text-muted"><b>A. </b>If after you have completed your booking you realise you want to add extra items to your delivery send us an email or give us a call to add these. You may be charged extra by our customer service team which will be charged to your card.</p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>What is an extra helper?</h4>
                            <p class="answer text-muted"><b>A. </b>If you select an extra driver your driver will bring an extra worker with him to help with the work. You should select this service if you have items that you think will be too big for one man to load and unload.</p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>I don’t have a confirmed delivery date is there a way I can change it?</h4>
                            <p class="answer text-muted"><b>A. </b>If you don’t currently have a firm delivery date you can select a date you think is most likely going to be the correct date. You can then change this later on by call the customer service team, which they will be able to do immediately free of charge</p>
                        </div>

                        <!-- Question/Answer -->
                        <div>
                            <h4 class="question"><span class="text-custom">Q.</span>I am A driver how do I start to do deliveries for Vanclub?</h4>
                            <p class="answer text-muted"><b>A. </b>If you would like to sign up to complete work with thevanclub the please click here and fill out the form. After we have vetted your application we will then get in touch and set you up with your driver app</p>
                        </div>

                    </div>
                    <!--/col-md-5-->
                </div>
                <!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- END FAQ -->



        <!-- CTA -->
        <section class="section bg-light">
            <div class="container">

                <div class="row text-center">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h5 class="text-uppercase m-t-0">We are Here to Help You</h5>
                        <h2>Best Solutions To Deliver Anything</h2>
                        <a href="" class="btn btn-custom m-t-20">Get Started Now</a>
                    </div>
                </div>

            </div>
        </section>
        <!-- END CTA -->


        <!-- FOOTER -->
        <footer class="section bg-gray footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h5>Zodkoo</h5>
                        <ul class="list-unstyled">
                            <li><a href="">Home</a></li>
                            <li><a href="">Features</a></li>
                            <li><a href="">Team</a></li>
                            <li><a href="">FAQ</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5>Social</h5>
                        <ul class="list-unstyled">
                            <li><a href="">Facebook</a></li>
                            <li><a href="">Twitter</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5>Support</h5>
                        <ul class="list-unstyled">
                            <li><a href="">Help & Support</a></li>
                            <li><a href="">Terms & Conditions</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5>Contact</h5>
                        <address>

                            E: <a href="mailto:#">hello@Thevanclub.io</a>
                        </address>
                    </div>

                </div> <!-- end row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-alt text-center">
                            <p class="text-muted m-b-0">2016 © Thevanclub</p>
                        </div>
                    </div>
                </div> <!-- end row -->

            </div> <!-- end container -->
        </footer>
        <!-- END FOOTER -->


        <!-- Back to top -->
        <a href="#" class="back-to-top" id="back-to-top"> <i class="pe-7s-angle-up"> </i> </a>


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="/app/components/home/con-web/js/jquery-2.1.4.min.js"></script>
        <script src="/app/components/home/con-web/js/bootstrap.min.js"></script>

        <!-- Jquery easing -->
        <script type="text/javascript" src="/app/components/home/con-web/js/jquery.easing.1.3.min.js"></script>

        <!--sticky header-->
        <script type="text/javascript" src="/app/components/home/con-web/js/jquery.sticky.js"></script>

        <!--common script for all pages-->
        <script src="/app/components/home/con-web/js/jquery.app.js"></script>

    </body>
</html>
