<!-- Get fixed quote Modal Ends Here-->

<div id="inv-fullWidth" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog full-width">
        <div class="modal-content">
            <div class="modal-header">
                <!--cancel button starts here-->
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i class="icon s7-close"></i></button>
                <h3 class="modal-title">Choose your van</h3>
                <!--cancel button ends here-->
            </div>
            <div class="modal-body">
            <div class="panel-body">
                <div class="row">
                    <form action="#" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Small Item (anything up to a box) </label>
                      <div class="col-sm-2">
                        <input type="number" ng-change="changeData()" class="form-control" ng-model="dashInstant.itemBoxes[0].qty">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Medium Item (anything up to a chest of draws) </label>
                      <div class="col-sm-2">
                        <input type="number" ng-change="changeData()" class="form-control" ng-model="dashInstant.itemBoxes[1].qty">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Large Item (anything up to a chest of king size bed) </label>
                      <div class="col-sm-2">
                        <input type="number" ng-change="changeData()" class="form-control" ng-model="dashInstant.itemBoxes[2].qty">
                      </div>
                    </div>
                  </form>




                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">Proceed</button>
            </div>
        </div>
    </div>
</div>
