<!-- Get fixed quote Modal Ends Here-->

<div id="inv-fullWidth" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--cancel button starts here-->
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"></button>
                <h3 class="modal-title text-center">Add Items For Delivery</h3>
                <!--cancel button ends here-->
            </div>
            <div class="modal-body inv-no-border">
            <div class="panel-body inv-no-border">


                            <p class="text-center">How many small items, medium items or large items to be delivered. Every item for delivery must be accurately listed</p>

                <hr>
                        <form action="#" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
                    <div class="form-group">
                      <label class="col-sm-12 text-center">Small Item | <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="(40cm x 40cm x 30cm) like an average packing box or a black bag " data-placement="top">example</a> </label>
                      <div class="col-sm-6 input-group auto-marg">
                        <!-- <input type="number" ng-change="changeData()" class="form-control" ng-model="dashInstant.itemBoxes[0].qty"> -->
                        <span ng-click="changeInventory('minus', 0)" class="input-group-addon plus-minus">-</span><input class="form-control" type="text" ng-model="dashInstant.itemBoxes[0].qty" ng-change="changeData()"><span ng-click="changeInventory('plus', 0)" class="input-group-addon plus-minus">+</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-12 text-center">Medium Item | <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="(105cm x 105cm x 50cm) like a chest of drawers or a dining table" data-placement="top">example</a> </label>
                      <div class="col-sm-6 input-group auto-marg">
                        <!-- <input type="number" ng-change="changeData()" class="form-control" ng-model="dashInstant.itemBoxes[1].qty"> -->
                        <span ng-click="changeInventory('minus', 1)" class="input-group-addon plus-minus">-</span><input class="form-control" type="text" ng-model="dashInstant.itemBoxes[1].qty" ng-change="changeData()"><span ng-click="changeInventory('plus', 1)" class="input-group-addon plus-minus">+</span>
                      </div>
                    </div>
                    <div class="form-group">
                     <label class="col-sm-12 text-center">Large Item | <a href="javascript:;" data-toggle="popover" data-trigger="hover" data-content="(200cm x 140cm x  50cm) like a fridge freezer or a double bed" data-placement="top">example</a> </label>
                      <div class="col-sm-6 input-group auto-marg">
                        <!-- <input type="number" ng-change="changeData()" class="form-control" ng-model="dashInstant.itemBoxes[2].qty"> -->
                        <span ng-click="changeInventory('minus', 2)" class="input-group-addon plus-minus">-</span><input class="form-control" type="text" ng-model="dashInstant.itemBoxes[2].qty" ng-change="changeData()"><span ng-click="changeInventory('plus', 2)" class="input-group-addon plus-minus">+</span>
                      </div>
                    </div>
                  </form>

<!--

-->





<!--
                <div class="row">
                    <div class="panel-heading">
                  <h3><strong>Name the items you are moving</strong></h3>
                </div>
                    <form action="#" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Give us a brief list of the names of the items you are moving </label>
                      <div class="col-sm-7">
                        <textarea required=""  ng-model="jobDeets.instructions" class="form-control"></textarea>
                      </div>
                    </div>
                  </form>

                </div>
-->


            </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">Done</button>
            </div>
        </div>
    </div>
</div>



<!--
<div id="inv-fullWidth" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog full-width">
        <div class="modal-content">
            <div class="modal-header">
                <button id="item-modal-close" type="button" data-dismiss="modal" aria-hidden="true" class="close"><i class="icon s7-close"></i></button>
                <h3 class="modal-title">Choose your van</h3>
            </div>
            <div class="modal-body">
            <div class="panel-body">
                <div class="row">
                    <form action="#" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Small Item (anything up to a box) </label>
                      <div class="col-sm-2">
                        <input type="number" ng-change="changeData()" class="form-control" ng-model="dashInstant.itemBoxes[0].qty">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Medium Item (anything up to a chest of draws) </label>
                      <div class="col-sm-2">
                        <input type="number" ng-change="changeData()" class="form-control" ng-model="dashInstant.itemBoxes[1].qty">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Large Item (anything up to a chest of king size bed) </label>
                      <div class="col-sm-2">
                        <input type="number" ng-change="changeData()" class="form-control" ng-model="dashInstant.itemBoxes[2].qty">
                      </div>
                    </div>
                    <div id="limit-note" role="alert" class="alert alert-danger alert-icon alert-icon-color alert-dismissible">
                    <div class="icon"><span class="s7-close-circle"></span></div>
                    <div class="message">
                        <h3>Cubic Volume Limit Has Been Reached!</h3>
                        <p>Please call us to arrange a special move 07852806618</p>
                    </div>
                  </div>
                  </form>

                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary">Proceed</button>
            </div>
        </div>
    </div>
</div>
-->
