
<div id="form-bp1" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3 class="modal-title">Add Collection Address</h3>
            </div>
            <div class="modal-body form">
                <div class="pricing-table pricing-table-primary">
                <form role="form">
                    <div class="form-group">
                    <input class="form-control" force-selection="true" placeholder="Start Address" g-places-autocomplete options="autocompleteOptions" ng-model="dashInstant.address.start_location.name" ng-change="updateMaps(); changeData()" ng-model-options='{debounce: 1000}' />
                    </div>
                    <div class="form-group">
                      <input class="form-control" ng-model="dashInstant.address.start_location.number" ng-change="changeData()" placeholder="House Number" />
                    </div>
                  </form>
                </div>
<div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary md-close">Submit</button>
            </div>
        </div>
    </div>
</div>
