
<div navi></div>

<div class="row wizard-row">
            <div class="col-md-12 fuelux">
              <div class="block-wizard panel panel-default">
                <div id="wizard1" class="wizard wizard-ux">
                  <div class="step-content">
                    <div  data-step="1" class="step-pane active">
                      <section class="mainContent clearfix setp5">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="thanksContent">
                <h2>Thank You For Your Order <small>You will receive an email of your order details</small></h2>
                <h3>Booking Details</h3>
                <div class="thanksInner">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 tableBlcok">
                      <address>
                        <span>Pick Up Address:</span> <a href="mailto:adamsmith@bigbag.com">adamsmith@bigbag.com</a> <br>
                        <span>Delivery Address:</span> <a href="mailto:adamsmith@bigbag.com">adamsmith@bigbag.com</a> <br>
                         <span>Date and Time:</span> +884 5452 6432 <br>
                        <span>Phone:</span> +884 5452 6432 <br>
                        <span>Email:</span> +884 5452 6432 <br>
                          <span>Inventory:</span> +884 5452 6432 <br>
                          <span>Price:</span> +884 5452 6432 <br>
                          <span>Deposit paid:</span> +884 5452 6432 <br>
                          
                      </address>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      <div class="well">
                        <h2><small>Order ID</small>9547</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>