
<div navi></div>

<div class="row wizard-row">
            <div class="col-md-12 fuelux">
              <div class="block-wizard panel panel-default">
                <div id="wizard1" class="wizard wizard-ux">
                  <div class="step-content">
                    <div  data-step="1" class="step-pane active">
                      <section class="mainContent clearfix setp5">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="thanksContent">
                <h2>Thank You For Your Order <small>You will receive an email of your order details</small></h2>
                <h3 ng-click="test()">Booking Details</h3>
                <div class="thanksInner">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 tableBlcok">
                      <address>
                        <span>Pick Up Address:</span> {{jobDeets.address.start_location.number}} {{jobDeets.address.start_location.name}} <br>
                        <span>Delivery Address:</span> {{jobDeets.address.end_location.number}} {{jobDeets.address.end_location.name}} <br>
                         <span>Date and Time:</span> {{jobDeets.jobDate}}<br>
                        <span>Phone:</span> {{jobDeets.number}} <br>
                        <span>Email:</span> {{jobDeets.email}} <br>
                          <span>Inventory:</span> Small items x {{jobDeets.itemBoxes[0].qty}},
                          Medium items x {{jobDeets.itemBoxes[1].qty}},
                          Large items x {{jobDeets.itemBoxes[2].qty}} <br>
                          <span>Price:</span> {{jobDeets.estiCalc}} <br>
                          <span>Deposit paid:</span> {{jobDeets.deposit}} <br>

                      </address>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      <div id="orderIdBox" class="well">
                        <h2><small>Order ID</small>{{jobDeets.paymentID}}</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
