<div navi></div>
<div class="am-content">
    <aside class="page-aside">
        <div id="am-scroll" class="am-scroller nano">
            <div class="nano-content">
                <div class="content">
                    <div class="user-profile col-md-12 col-sm-12 no-pad-l">
                        <div class=" info-block panel panel-default">
                            <table class="no-border no-strip skills">
                                <tbody class="no-border-x no-border-y">
                                    <tr>
                                        <td class="item"> <strong>List Your Items</strong>
<!--                                            <a href="javascript:;" data-toggle="popover" data-content="list all the items you would like delivered" data-placement="top">    <span class="badge badge-primary">i</span></a>-->
                                            <hr>
                                            list all the items you would like delivered

                                        </td>
                                        <td>
                                            <button data-toggle="modal" data-target="#inv-fullWidth" type="button" class="btn btn-space btn-success btn-rounded pull-right"><i class="icon icon-left s7-box2"></i> Add</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="item"><strong>Addresses</strong>
                                            <hr>

                                            Add Pickup and deliver Address
                                            </td>
                                        <td>
                                             <button data-toggle="modal" data-target="#form-bp1" type="button" class="btn btn-space btn-success btn-rounded pull-right"><i class="icon icon-left s7-map-marker"></i> Add</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="item"> <strong>Date</strong>
                                            </td>
                                        <td><div class="input-group date datetimepicker col-md-12 col-xs-12">
                                            <input id="job-date-picker" ng-change="changeData()" ng-model="dashInstant.jobDate" size="16" type="text" value="" class="form-control">
                                            <span class="input-group-addon btn btn-primary">
                                            <i class="icon-th s7-date"></i>
                                        </span>
                                    </div></td>
                                    </tr>
                                    <tr>
                                        <td class="item"> <strong>Collection Time</strong>
                                            </td>
                                        <td>
                                            <div class="input-group date datetimepicker col-md-12 col-xs-12">
                                                <input id="early-time-picker" ng-change="changeData(); closeTimePicker()" ng-model="dashInstant.jobStartTime" size="16" type="text" value="" class="form-control">
                                                <span class="input-group-addon btn btn-primary">
                                                    <i class="icon-th s7-clock"></i>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                <tr>
                                    <td class="item"><strong>Add Helper</strong>
<!--                                        <a href="javascript:;" data-toggle="popover" data-content=" A Choose yes if you need a 2 man service" data-placement="top"><span class="badge badge-primary">i</span></a>-->
                                        <hr>
                                            Would you like and extra man to help with the lifting?
                                       </td>
                                    <td><div class="form-group">

                                      <div class="col-sm-6 xs-pt-5 pull-right">
                                        <div class="switch-button switch-button-success">
                                          <input ng-click="extraHelpClick()" type="checkbox" model="dashInstant.extraHelp" name="swt5" id="swt5"><span>
                                            <label for="swt5"></label></span>
                                        </div>
                                      </div>


                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <button data-toggle="modal"  id="review-booking-button" ng-click="holdDriverDelay()" class="disabled btn btn-danger btn-space btn-hspace col-md-12 col-xs-12">Get Price</button>
                <button id="cubic-click" data-toggle="modal" data-target="#cubic-limit" class="hide"></button>
            </div>
        </div>
    </div>
</aside>
<div class="main-content hidden-xs">
    <!--+general-chart("classes", "title", "height", "id", "counter value", "counter desc", tools enabled (use true or false))-->
    <div class="col-md-12">
        <div id="map-canvas" style="width:100%; height:590px;"></div>
    </div>
</div>
</div>

<!-- Get fixed quote Modal Ends Here-->

<div dash-van-type></div>
<div dash-route-plan></div>


<div cubic-limit></div>
<div review-booking></div>







<!--

<div class="am-content">
    <aside class="page-aside">
        <div class="am-scroller nano">
            <div class="nano-content">
                <div class="content">
                    <div class="user-profile col-md-12 col-sm-12 no-pad-l">
                        <div class=" info-block panel panel-default">
                            <table class="no-border no-strip skills">
                                <tbody class="no-border-x no-border-y">
                                    <tr>
                                        <td class="item">Items<span class="icon s7-car"></span></td>
                                        <td><button data-toggle="modal" data-target="#inv-fullWidth" type="button" class="btn btn-space btn-warning col-md-12 col-xs-12">Declare Items</button></td>
                                    </tr>
                                    <tr>
                                        <td class="item">Route:<span class="icon s7-map-marker"></span></td>
                                        <td> <button data-toggle="modal" data-target="#form-bp1" type="button" class="btn btn-space btn-warning col-md-12 col-xs-12">Choose Route</button></td>
                                    </tr>
                                    <tr>
                                        <td class="item">Date & Time:<span class="icon s7-date"></span></td>
                                        <td><div class="input-group date datetimepicker col-md-12 col-xs-12">
                                            <input id="job-date-picker" ng-change="changeData()" ng-model="dashInstant.jobDate" size="16" type="text" value="" class="form-control">
                                            <!-- <span class="input-group-addon btn btn-primary">
                                            <i class="icon-th s7-date"></i>
                                        </span>
                                    </div></td>
                                </tr>
                                <tr>
                                    <td class="item">Extra Helper:<span class="icon s7-add-user"></span></td>
                                    <td><div class="form-group">

                                      <div class="col-sm-6 xs-pt-5">
                                        <div class="switch-button switch-button-success">
                                          <input ng-click="extraHelpClick()" type="checkbox" model="dashInstant.extraHelp" name="swt5" id="swt5"><span>
                                            <label for="swt5"></label></span>
                                        </div>
                                      </div>


                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="item">Price Estimate:<span ng-click="tester()" class="icon s7-credit"></span></td>
                                    <td class="text-center">
                                        <div ng-if="dashInstant.estiCalc > 0" class="">
                                            <strong><font size="6">£{{dashInstant.estiCalc}}</font></strong>
                                        </div>
                                        <div ng-if="!dashInstant.estiCalc > 0" class="">
                                            <strong><font size="6">_____</font></strong>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button data-toggle="modal" data-target="#md-review" id="review-booking-button" ng-click="holdDriverDelay()" class="btn btn-danger btn-space btn-hspace col-md-12 col-xs-12">Find Drivers</button>
            </div>
        </div>
    </div>
</aside>
<div class="main-content">
    <!--+general-chart("classes", "title", "height", "id", "counter value", "counter desc", tools enabled (use true or false))
    <div class="col-md-12">
        <div id="map-canvas" style="width:100%; height:590px;"></div>
    </div>
</div>
</div>

<!-- Get fixed quote Modal Ends Here

<div dash-van-type></div>
<div dash-route-plan></div>


<div id="mod-err" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="md-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3 class="modal-title">Driver Note</h3>
            </div>
            <div class="modal-body form">
                <div class="form-group">
                    <label>Job Name</label>
                    <input ng-model="dashInstant.jobName" type="name" placeholder="Job name" class="form-control">
                </div>
                <div class="form-group">
                    <label>Your Note for Driver</label>
                    <textarea ng-model="dashInstant.driverNote" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary md-close">Proceed</button>
            </div>
        </div>
    </div>
</div>

<div review-booking></div> -->
