<div navi></div>

<div class="row wizard-row">
            <div class="col-md-6 col-md-offset-3 fuelux">
              <div class="block-wizard panel panel-default">
                <div id="wizard1" class="wizard wizard-ux">
                  <ul class="steps">
                    <li data-step="1" ng-click="showCheckoutStep(1)">Contact details<span class="chevron"></span></li>
                      <li data-step="2" ng-click="showCheckoutStep(2)" class="active">Review <span class="chevron"></span></li>
                    <li data-step="3" ng-click="showCheckoutStep(3)">Payment<span class="chevron"></span></li>
                  </ul>
                  <div class="step-content">
                    <div  data-step="1" class="step-pane active">
                        
                        
                        <div class="col-md-12">
              <div class="panel panel-default panel-heading-fullwidth panel-borders">
                <div class="panel-heading panel-color"><span class="title">Full-width with borders</span></div>
                <div class="panel-body">
                  <div class="row">
                        <div class="col-md-3">
                           <strong>Delivery Summary:</strong>
                        </div>
                        
                        <div class="col-md-9">
                               A delivery for {{jobDeets.name}}  from   {{jobDeets.address.start_location.number}} {{jobDeets.address.start_location.name}}  to {{jobDeets.address.end_location.number}} {{jobDeets.address.end_location.name}}  on the  {{jobDeets.jobDate}} 
                        </div>
                        
                    </div>
                    <br>
                    <hr>
                    
<!--                    Row 1-->
                    
                    <div class="row">                        
                        <div class="col-md-3">
                           <strong>Refund Terms:</strong>
                        </div>
                        
                        <div class="col-md-9">
                                We can issue a 100% refund on your deposit at any time before dispatch of our driver *Please see our <a ng-href="consumer-terms">terms</a>
                        </div>
                    </div>
                    
                     <br>
                    <hr>
                    
                    <div class="row">
                        <div class="col-md-3">
                           <strong>Delivery Items:</strong>
                        </div>
                        
                        <div class="col-md-9">
                          Small items x {{jobDeets.itemBoxes[0].qty}},
                          Medium items x {{jobDeets.itemBoxes[1].qty}}
                          Large items x {{jobDeets.itemBoxes[2].qty}}
                        </div>
                        
                        
                    </div>
                    
                    <br>
                    <hr>
                    
                    <div class="row">
                    
                    <div class="col-md-3">
                           <strong>Extra Helper:</strong>
                        </div>
                        
                        <div class="col-md-9 text-left">
                                {{jobDeets.extraHelp}}
                        </div>
                    </div>
                    
                    
                    
                    
                    <br>
                    <hr>
                  
                    <div class="row">
                        
                        <div class="col-md-3">
                           <strong>Email:</strong>
                        </div>
                        
                        <div class="col-md-9">
                                {{jobDeets.email}}
                        </div>
                        
                        
                    </div>
                    <br>
                    <hr>
                    
                    <div class="row">
                    
                    <div class="col-md-3">
                           <strong>Phone Number</strong>
                        </div>
                        
                        <div class="col-md-9">
                                {{jobDeets.number}}
                        </div>
                        
                        </div>
                    
                    <br>
                    
                    <hr>
                    
                    <!--                    Row 2-->
                    
                    <div class="row well">
                        <div class="col-md-2">
                           <strong> Booking price:</strong>
                        </div>
                        
                        <div class="col-md-2">
                                £{{jobDeets.estiCalc}}
                        </div>
                        
                        <div class="col-md-2">
                           <strong>Deposit to pay now:</strong>
                        </div>
                        
                        <div class="col-md-2">
                                £{{jobDeets.deposit}}
                        </div>
                        
                        <div class="col-md-2">
                           <strong> Balance to pay on delivery:</strong>
                        </div>
                        
                        <div class="col-md-2">
                                £{{jobDeets.estiCalc}}
                        </div>
                    </div>
                    
                </div>
              </div>
            </div>   
                        
                        
                        
                      </form>
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            
                              <a href="/checkout-3"><button ng-click="next()" class="btn btn-primary btn-space wizard-next pull-right">Next<i class="icon s7-angle-right"></i></button></a>
                              <a href="/checkout"><button class="btn btn-default btn-space wizard-next pull-right"><i class="icon s7-angle-left"></i>Back</button></a>
                          </div>
                        </div>
                    </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>




<!--
<div class="row wizard-row">
            <div class="col-md-12 fuelux">
              <div class="block-wizard panel panel-default">
                <div id="wizard1" class="wizard wizard-ux">
                  <ul class="steps">
                    <li data-step="1" ng-click="showCheckoutStep(1)" >Booking Review<span class="chevron"></span></li>
                    <li data-step="2" ng-click="showCheckoutStep(2)" class="active">Add Contact Details<span class="chevron"></span></li>
                    <li data-step="3" ng-click="showCheckoutStep(3)">Payment<span class="chevron"></span></li>
                  </ul>
                  <div class="step-content">
                    <div  data-step="1" class="step-pane active">
           <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3>Pleas Add Contact Details</h3>
                </div>
                <div class="panel-body">
                  <form role="form" data-parsley-validate="" novalidate="" class="form-horizontal">
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
                      <div class="col-sm-10">
                        <input id="inputPassword3" required="" ng-model="jobDeets.name" placeholder="Name" class="form-control">
                      </div>
                    </div>

                      <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-10">
                        <input id="inputEmail3"  ng-model="jobDeets.email" type="email" required="" parsley-type="email" placeholder="Email" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Number</label>
                      <div class="col-sm-10">
                        <input required=""  ng-model="jobDeets.number" placeholder="Number" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Extra instructions for driver </label>
                      <div class="col-sm-10">
                        <textarea required=""  ng-model="jobDeets.instructions" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="text-right">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default btn-space">Go back to booking page</button>
                            <button  ng-click="back()" class="btn btn-primary btn-space wizard-next"><i class="icon s7-angle-left"></i>Back Step</button>
                            <button ng-click="next2()" class="btn btn-primary btn-space wizard-next">Next Step <i class="icon s7-angle-right"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>


                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
-->
